{% extends "layout.html" %}
{% block content %}
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>{{ form.search.label }}<br/>{{ form.search(size=30) }}</div>
        <div>{{ form.submit() }}</div>
    </form>

    {% if abbreviations %}
        <h1>You searched: {{ searched }}</h1>
        <table>
            {% for abbreviation in abbreviations %}
                <tr>
                    <td>
                        <strong>{{ abbreviation[0] }}</strong>
                    </td>
                    <td>
                        {{ abbreviation[1] }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if searched and not abbreviations %}
        <p>No abbreviations found</p>
    {% endif %}

{% endblock content %}
