{% extends "base.html" %}
{% block content %}
    <h1>Return device</h1>

    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.object_class.label }}<br/>{{ form.object_class }}<br/>
            {% for error in form.object_class.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.object_id.label }}<br/>{{ form.object_id(size=30) }}<br/>
            {% for error in form.object_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>{{ form.submit() }}</div>
    </form>
    <br>
    <h2>Loans {% if student %} of {{ student.lastname }} {% endif %}</h2>
    <ul>
        
            <li></li>
        
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Returned</th>
                <th scope="col">Device</th>
                <th scope="col">S#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
                <tr>
                    <th scope="row">{{ loan.loan_id }}</th>
                    <th>{{ loan.return_datetime }}</th>
                    <td>{{ loan.device_id }}</td>
                    <td>{{ loan.student.student_id }}</td>
                    <td>{{ loan.student.firstname }}</td>
                    <td>{{ loan.student.lastname }}</td>
                    <td>{{ loan.student.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}