{% extends "base.html" %}
{% block content %}
    <h1>Return device</h1>

    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.object_id.label }}<br/>{{ form.object_id(size=30) }}<br/>
            {% for error in form.object_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>{{ form.submit() }}</div>
    </form>
    <br>
    <h2>Loans {% if student %} of {{ student.lastname }} {% endif %}</h2>
    <ul>
        {% for loan in loans %}
            <li>{{ loan }}</li>
        {% endfor %}
    </ul>

{% endblock content %}
